### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [32]:
# Total number of Schools
school_info = len(school_data_complete['school_name'].unique())
# Total number of students
students_count = len(school_data_complete['student_name'])
# Total budget
school_budget = school_data_complete['budget'].sum()
school_budget
# Average Math Score
Math_Average =  school_data_complete['math_score'].mean()
Math_Average = round(Math_Average, 2)
Math_Average
# Average Reading average
Reading_Average = school_data_complete['reading_score'].mean()
Reading_Average = round(Reading_Average, 2)
Reading_Average
# Math Score greater than 70
Math_above_70 =school_data_complete[(school_data_complete["math_score"] >= 70)].count()['student_name']
Math_above_70
# Math_score_Avg
Math_score_Avg_percentage = Math_above_70/students_count*100
Math_score_Avg_percentage = round(Math_score_Avg_percentage,2)
Math_score_Avg_percentage

# Reading Score greater than 70
reading_above_70 = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()['student_name']
#Reading_Score_Avg
Reading_score_Avg_percentage = reading_above_70/students_count*100
Reading_score_Avg_percentage = round(Reading_score_Avg_percentage,2)
Reading_score_Avg_percentage

Overall_Average = school_data_complete[(school_data_complete["math_score"] >= 70) 
                                                  & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
Overall_Average_Percentage = (Overall_Average/students_count)*100
Overall_Average_Percentage = round(Overall_Average_Percentage,2)
district_summary = pd.DataFrame({"Total Schools":[school_info],
                                "Total students":[students_count],
                                "Total Budget":[school_budget],
                                "Average Math Score":[Math_Average],
                                 "Average Reading Score":[Reading_Average],
                                 "Math %":[Math_score_Avg_percentage],
                                  "Reading %":[Reading_score_Avg_percentage],
                                   "Overall %":[Overall_Average_Percentage]})
district_summary

,Total Schools,Total students,Total Budget,Average Math Score,Average Reading Score,Math %,Reading %,Overall %
0,15,39170,82932329558,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [108]:
school_info = school_data.set_index(["school_name"])["type"]
Total_students = school_data_complete["school_name"].value_counts()
Total_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
Total_school_budget
per_student_budget = Total_school_budget/Total_students
per_student_budget
Avg_math_score = school_data_complete.groupby(["school_name"])["math_score"].mean()
Avg_math_score
Avg_reading_score = school_data_complete.groupby(["school_name"])["reading_score"].mean()
Avg_reading_score
Math_passing = school_data_complete[(school_data_complete["math_score"] >= 70)].groupby(["school_name"])["student_name"].count()
Math_passing_Percentage = Math_passing/Total_students*100
Math_passing_Percentage
Read_passing = school_data_complete[(school_data_complete["reading_score"] >= 70)].groupby(["school_name"])["student_name"].count()
Read_passing_Percentage = Read_passing/Total_students*100
Read_passing_Percentage
Overall_passing = school_data_complete[(school_data_complete["math_score"] >= 70) 
                                                  & (school_data_complete["reading_score"] >= 70)].groupby(["school_name"])["student_name"].count()
Overall_passing_Percentage  = Overall_passing/Total_students*100
Overall_passing_Percentage
school_info

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [139]:
school_summary = pd.DataFrame({"school Type":school_info,
                               "Total students":Total_students,
                               "Total_school_budget":Total_school_budget,
                              "Per_Student_Budget":per_student_budget,
                              "Avg_math_score":Avg_math_score,
                               "Avg_reading_score":Avg_reading_score,
                              "Math_Passing_Percentage":Math_passing_Percentage,
                              "Read_Passing_Percentage":Read_passing_Percentage,
                              "Overall_Passing_Percentage":Overall_passing_Percentage})
school_summary

,school Type,Total students,Total_school_budget,Per_Student_Budget,Avg_math_score,Avg_reading_score,Math_Passing_Percentage,Read_Passing_Percentage,Overall_Passing_Percentage
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [122]:
top_performing = school_summmary.sort_values(["Overall_Passing_Percentage"], ascending=False)
top_performing

,school Type,Total students,Total_school_budget,Per_Student_Budget,Avg_math_score,Avg_reading_score,Math_Passing_Percentage,Read_Passing_Percentage,Overall_Passing_Percentage
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [125]:
Bottom_performing =school_summmary.sort_values(["Overall_Passing_Percentage"])
Bottom_performing

,school Type,Total students,Total_school_budget,Per_Student_Budget,Avg_math_score,Avg_reading_score,Math_Passing_Percentage,Read_Passing_Percentage,Overall_Passing_Percentage
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [129]:
ninth_grade = school_data_complete[(school_data_complete["grade"]=="9th")].groupby("school_name")["math_score"].mean()
Tenth_grade = school_data_complete[(school_data_complete["grade"]=="10th")].groupby("school_name")["math_score"].mean()
Eleventh_grade = school_data_complete[(school_data_complete["grade"]=="11th")].groupby("school_name")["math_score"].mean()
Twelth_grade = school_data_complete[(school_data_complete["grade"]=="12th")].groupby("school_name")["math_score"].mean()
math_score_grade = pd.DataFrame({"9th":ninth_grade,
                                "10th":Tenth_grade,
                                "11th":Eleventh_grade,
                                "12th":Twelth_grade})
math_score_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [130]:
ninth_grade = school_data_complete[(school_data_complete["grade"]=="9th")].groupby("school_name")["reading_score"].mean()
Tenth_grade = school_data_complete[(school_data_complete["grade"]=="10th")].groupby("school_name")["reading_score"].mean()
Eleventh_grade = school_data_complete[(school_data_complete["grade"]=="11th")].groupby("school_name")["reading_score"].mean()
Twelth_grade = school_data_complete[(school_data_complete["grade"]=="12th")].groupby("school_name")["reading_score"].mean()
reading_score_grade = pd.DataFrame({"9th":ninth_grade,
                                "10th":Tenth_grade,
                                "11th":Eleventh_grade,
                                "12th":Twelth_grade})
reading_score_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [140]:
bin_1 = [0,585,630,645,675]
spending_group = ["<$584", "$585-629", "$630-644", "$645-675"]
school_summary

,school Type,Total students,Total_school_budget,Per_Student_Budget,Avg_math_score,Avg_reading_score,Math_Passing_Percentage,Read_Passing_Percentage,Overall_Passing_Percentage
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [147]:
school_summary["spending Ranges(per student)"] = pd.cut(per_student_budget,bin_1,labels=spending_group)
school_summary
spending_math_scores = school_summary.groupby(["spending Ranges(per student)"])["Avg_math_score"].mean()
spending_reading_scores = school_summary.groupby(["spending Ranges(per student)"])["Avg_reading_score"].mean()
spending_math_passing = school_summary.groupby(["spending Ranges(per student)"])["Math_Passing_Percentage"].mean()
spending_read_passing = school_summary.groupby(["spending Ranges(per student)"])["Read_Passing_Percentage"].mean()
spending_overall_passing = school_summary.groupby(["spending Ranges(per student)"])["Overall_Passing_Percentage"].mean()
spending_summary = pd.DataFrame({"Ave Math Score ":spending_math_scores,
                                "Avg Reading Score":spending_reading_scores,
                                "% Passing Math":spending_math_passing,
                                "% Passing Reading":spending_read_passing,
                                "% Overall Passing":spending_overall_passing})
spending_summary

,Ave Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing
spending Ranges(per student),,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [156]:
bin_2 = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_summary["School Size"] = pd.cut(school_summary["Total students"], bin_2, labels=group_names)
school_summary
size_math_score = school_summary.groupby(["School Size"])["Avg_math_score"].mean()
size_read_score = school_summary.groupby(["School Size"])["Avg_reading_score"].mean()
size_math_passing = school_summary.groupby(["School Size"])["Math_Passing_Percentage"].mean()
size_read_passing= school_summary.groupby(["School Size"])["Read_Passing_Percentage"].mean()
size_overall_passing = school_summary.groupby(["School Size"])["Overall_Passing_Percentage"].mean()
school_size_summary = pd.DataFrame({"Average Math Score":size_math_score,
                                   "Average Reading Score": size_read_score,
                             "% Passing Math": size_math_passing,
                             "% Passing Reading": size_overall_passing,
                             "% Overall Passing": size_overall_passing}) 
school_size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,89.883853,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,90.621535,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,58.286003,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

In [159]:
type_math = school_summary.groupby(["school Type"])["Avg_math_score"].mean()
type_read = school_summary.groupby(["school Type"])["Avg_reading_score"].mean()
type_pass_math = school_summary.groupby(["school Type"])["Math_Passing_Percentage"].mean()
type_pass_read = school_summary.groupby(["school Type"])["Read_Passing_Percentage"].mean()
type_overall_pass = school_summary.groupby(["school Type"])["Overall_Passing_Percentage"].mean()
type_summary = pd.DataFrame({"Average Math Score" : type_math,
                             "Average Reading Score": type_read,
                             "% Passing Math": type_pass_math,
                             "% Passing Reading": type_pass_read,
                             "% Overall Passing": type_overall_pass})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208